USE [master]
GO
/****** Object:  Database [WorkshopManager_DB]    Script Date: 14.04.2021 22:33:42 ******/
CREATE DATABASE [WorkshopManager_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkshopManager_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkshopManager_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkshopManager_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkshopManager_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkshopManager_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkshopManager_DB]
GO
/****** Object:  Table [dbo].[tbl_ROLES]    Script Date: 14.04.2021 22:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nchar](64) NOT NULL,
 CONSTRAINT [PK_tbl_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USERS]    Script Date: 14.04.2021 22:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [nchar](128) NOT NULL,
	[PASSWORD] [nchar](518) NOT NULL,
	[NAME] [nchar](64) NULL,
	[SURNAME] [nchar](64) NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VEHICLES]    Script Date: 14.04.2021 22:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VEHICLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VIN_NUMBER] [nchar](17) NULL,
	[YEAR_OF_PRODUCTION] [date] NOT NULL,
	[PLATE_NUMBER] [nchar](10) NULL,
	[MAKE] [nchar](64) NULL,
	[MODEL] [nchar](64) NULL,
 CONSTRAINT [PK_tbl_VEHICLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_WORK]    Script Date: 14.04.2021 22:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WORK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[VEHICLE_ID] [int] NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[NUMBER_OF_WORK_HOURS] [decimal](5, 2) NULL,
 CONSTRAINT [PK_tbl_WORK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_USERS]  WITH CHECK ADD  CONSTRAINT [FK_tbl_USERS_tbl_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[tbl_ROLES] ([ID])
GO
ALTER TABLE [dbo].[tbl_USERS] CHECK CONSTRAINT [FK_tbl_USERS_tbl_ROLES]
GO
ALTER TABLE [dbo].[tbl_WORK]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WORK_tbl_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[tbl_USERS] ([ID])
GO
ALTER TABLE [dbo].[tbl_WORK] CHECK CONSTRAINT [FK_tbl_WORK_tbl_USERS]
GO
ALTER TABLE [dbo].[tbl_WORK]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WORK_tbl_VEHICLES] FOREIGN KEY([VEHICLE_ID])
REFERENCES [dbo].[tbl_VEHICLES] ([ID])
GO
ALTER TABLE [dbo].[tbl_WORK] CHECK CONSTRAINT [FK_tbl_WORK_tbl_VEHICLES]
GO
USE [master]
GO
